{"installed":{"client_id":"Coloque seu Id do cliente aqui","project_id":"labrasoft-guilherme","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"Coloque sua chave secreta aqui","redirect_uris":["http://localhost"]}}